
/*#region Esercizio 1 */
.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: 4s;
}

.ex-1-square:hover {
  background-color: red;
}

/*#endregion*/

/*#region Esercizio 2 */
.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: 5s;
}

.ex-2-square:active {
  width: 1100px;
}
/*#endregion*/

/*#region Esercizio 3 */
.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: 4s;
}
.ex-3-square:hover {
  border-radius: 70%;
}
/*#endregion*/

/*#region Esercizio 4 */
.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: 5s;
}
.ex-4-square:hover {
  background-color: #f5f5f5;
}
/*#endregion*/

/*#region Esercizio 5 */
.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: 4s;
}

.ex-5-square:hover {
  width: 120px;
  height: 120px;
}

.ex-5-square:active {
  width: 30px;
  height: 30px;
}

/*#endregion*/

/*#region Esercizio 6/7/8 */
.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
  transition: 4s;
}

/* Esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img:hover {
  animation: change 8s ease;
}

@keyframes change {
  0% {
    filter: none;
  }

  35% {
    filter: drop-shadow(16px 16px 20px red);
  }

  70% {
    filter: blur(10px);
  }

  100% {
    filter: none;
  }
}

/* Esercizio 8 */
.ex-8-img:hover {
  animation: Es-8 15s ease;
}

@keyframes Es-8 {
  0% {
    filter: none;
  }
  25% {
    filter: drop-shadow(12px 12px 15px purple);
    border-radius: 0px;
  }
  50% {
    filter: hue-rotate(90deg);
    border-radius: 0px;
  }
  75% {
    border-radius: 25px;
    filter: hue-rotate(90deg);
  }
  100% {
    border-radius: 0px;
    filter: none;
  }
}

/*#endregion*/

/*#region Esercizio 9 */
.ex-9-img {
  margin: 50px 100px;
  width: 400px;
}
.ex-9-img:hover {
  animation: Es-9 10s ease;
}
@keyframes Es-9 {
  0% {
    filter: none;
    border-radius: 0px;
    width: 400px;
  }
  20% {
    filter: drop-shadow(12px 12px 15px rgb(10, 202, 154));
    border-radius: 0px;
    width: 400px;
  }
  40% {
    border-radius: 0px;
    width: 400px;
    filter: hue-rotate(90deg);
  }
  60% {
    border-radius: 20px;
    width: 400px;
    filter: hue-rotate(90deg);
  }
  80% {
    border-radius: 20px;
    width: 600px;
    filter: hue-rotate(90deg);
  }
  100% {
    filter: none;
    border-radius: 0px;
    width: 400px;
  }
}
/*#endregion*/

/*#region Esercizio 10 */
.ex-10-icon {
  font-size: 60px;
}

.ex-10-icon:hover {
  animation: Es-10 500ms infinite ease;
}

@keyframes Es-10 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*#endregion*/

/*#region Esercizio 11 */
.ex-11-icon {
  font-size: 60px;
}
.ex-11-icon:hover {
  animation: Es-11 1000ms /* infinite */ linear;
}
@keyframes Es-11 {
  0% {
    transform: rotate(0deg);
  }
  /* Edit : Aggiornato a 75% poichè ho letto che deve tornare indietro velocemente */
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*#endregion*/

/*#region Esercizio 12/13 */
.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}

.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
  animation: MuoviEs-12a 5s infinite linear;
}

@keyframes MuoviEs-12a {
  0% {
    left: 10%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white{
  animation: MuoviEs-12b 5s infinite linear;
}

@keyframes MuoviEs-12b {
  0% {
    right: 20%;
  }
  50% {
    right: 60%;
  }
  100% {
    right: 20%;
  }
}

/* Esercizio 13 */

.ex-13-button:hover,
.ex-13-top-white {
  animation: RuotaEs-13a 5s linear;
}

@keyframes RuotaEs-13a {
  0% {
    /* Condizione iniziale  */
    top: -10px;
    left: 10%;
  }
  20% {
    top: -10px;
    /* 30px è la metà della sua Width */
    left: calc(100% - 30px);
  }
  40% {
    /* 30px è la metà della sua Width */
    left: calc(100% - 30px);
    /* 10px è la metà della sua Height */
    top: calc(100% - 10px);
  }
  60% {
    /* Oltre ai 20px si vede ai bordi del container */
    left: -20px;
    top: calc(100% - 10px);
  }
  80% {
    /* Oltre ai 20px si vede ai bordi del container */
    left: -20px;
    /* Ritorna alla condizione iniziale */
    top: -10px;
  }
  100% {
    /* Condizione Finale  */
    top: -10px;
    left: 10%;
  }
}

.ex-13-button:hover,
.ex-13-bottom-white {
  animation: RuotaEs-13b 5s linear;
}

@keyframes RuotaEs-13b {
  0% {
    /* Condizione iniziale  */
    bottom: -10px;
    right: 20%;
  }
  20% {
    /* Bottom sempre in condizione iniziale  */
    bottom: -10px;
    /* Si sposta verso SX */
    right: calc(100% - 40px);
  }
  40% {
    /* Rimane nella sua posizione  */
    right: calc(100% - 40px);
    /* Si alza verso top */
    bottom: calc(100% - 10px);
  }
  60% {
    /* Rimane nella sua condizione */
    bottom: calc(100% - 10px);
    /* Si sposta verso dx */
    right: -20px;
  }
  80% {
    /* Si riporta in basso */
    bottom: -10px;
    /* Bordo a DX rimane fermo */
    right: -20px;
  }
  100% {
    /* Condizione Finale  */
    bottom: -10px;
    right: 20%;
  }
}

/*#endregion*/
