/* CONCLUSA */
/*#region Esercizio 1 */
.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: 4s;
}

.ex-1-square:hover {
  background-color: red;
}

/*#endregion*/

/* CONCLUSA - Ma chiedi conferma su Premere o cliccare */
/*#region Esercizio 2 */
.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: 5s;
}

.ex-2-square:active {
  width: 1100px;
}
/*#endregion*/

/* CONCLUSA */
/*#region Esercizio 3 */
.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: 4s;
}
.ex-3-square:hover {
  border-radius: 70%;
}
/*#endregion*/

/* CONCLUSA */
/*#region Esercizio 4 */
.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: 5s;
}
.ex-4-square:hover {
  background-color: #f5f5f5;
}
/*#endregion*/

/* CONCLUSA - Ma chiedi conferma su Premere o cliccare */
/*#region Esercizio 5 */
.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: 4s;
}

.ex-5-square:hover {
  width: 120px;
  height: 120px;
}

.ex-5-square:active {
  width: 30px;
  height: 30px;
}

/*#endregion*/

/* CONCLUSA */
/*#region Esercizio 6/7/8 */
.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
  transition: 4s;
}

/* Esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img:hover {
  animation: change 8s ease;
}

@keyframes change {
  0% {
    filter: none;
  }

  35% {
    filter: drop-shadow(16px 16px 20px red);
  }

  70% {
    filter: blur(10px);
  }

  100% {
    filter: none;
  }
}

/* Esercizio 8 */
.ex-8-img:hover {
  animation: Es-8 15s ease;
}

@keyframes Es-8 {
  0% {
    filter: none;
  }
  25% {
    filter: drop-shadow(12px 12px 15px purple);
    border-radius: 0px;
  }
  50% {
    filter: hue-rotate(90deg);
    border-radius: 0px;
  }
  75% {
    border-radius: 25px;
    filter: hue-rotate(90deg);
  }
  100% {
    border-radius: 0px;
    filter: none;
  }
}

/*#endregion*/

/* CONCLUSA */
/*#region Esercizio 9 */
.ex-9-img {
  margin: 50px 100px;
  width: 400px;
}
.ex-9-img:hover {
  animation: Es-9 10s ease;
}
@keyframes Es-9 {
  0% {
    filter: none;
    border-radius: 0px;
    width: 400px;
  }
  20% {
    filter: drop-shadow(12px 12px 15px rgb(10, 202, 154));
    border-radius: 0px;
    width: 400px;
  }
  40% {
    border-radius: 0px;
    width: 400px;
    filter: hue-rotate(90deg);
  }
  60% {
    border-radius: 20px;
    width: 400px;
    filter: hue-rotate(90deg);
  }
  80% {
    border-radius: 20px;
    width: 600px;
    filter: hue-rotate(90deg);
  }
  100% {
    filter: none;
    border-radius: 0px;
    width: 400px;
  }
}
/*#endregion*/

/* CONCLUSA */
/*#region Esercizio 10 */
.ex-10-icon {
  font-size: 60px;
}

.ex-10-icon:hover {
  animation: Es-10 500ms infinite ease;
}

@keyframes Es-10 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*#endregion*/

/* CONCLUSA */
/*#region Esercizio 11 */
.ex-11-icon {
  font-size: 60px;
}
.ex-11-icon:hover {  
  animation: Es-11 1000ms /* infinite */ linear;
}
@keyframes Es-11 {
   0% {
      transform: rotate(0deg); 
   }
   50% {
      transform: rotate(270deg); 
   }
   100% {
      transform: rotate(0deg); 
   }
}

/*#endregion*/

/*#region Esercizio 12/13 */
.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}

.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
/*#endregion*/
